<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лента новостей</title>
</head>
<body>
    <h1>Лента новостей</h1>
    <div>
        {% for post in posts %}
            <p>{{ post.content }}</p>
            <a href="/profile/{{ post.user_id }}">Профиль автора</a>
            <form action="/comment/{{ post.id }}" method="POST">
                <input type="text" name="content" placeholder="Комментарий" required>
                <button type="submit">Добавить комментарий</button>
            </form>
            <div>
                {% for comment in post.comments %}
                    <p>Комментарий: {{ comment.content }}</p>
                    <a href="/delete_comment/{{ comment.id }}">Удалить комментарий</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <a href="/">Назад на главную</a>
</body>
</html>